
    $directional-button-size: 80px;
    .directional-button{
        position: absolute;
        width: $directional-button-size;
        height: $directional-button-size;
        border: 1px solid rgb(56, 56, 56);
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 50% 50% 50% 50%;
        // pointer-events: none;
        
        // .directional-button{
        //     position:absolute;
        //     border: 1px solid black;
        //     width: $button-width;
        //     height: $button-height;
        //     border-radius: 10px 10px 10px 10px;
        // }
        // .up-button{
        //     transform: translateY(-100%);
        // }
        // .down-button{
        //     transform: translateY(100%);
        // }
        // .right-button{
        //     transform: translateX(100%);
        // }
        // .left-button{
        //     transform: translateX(-100%);
        // }
        .material-size-input-wrappers{
            $material-size-input-wrappers-height: 120px;

            position: relative;
            display: flex;
            flex-shrink: 1;
            align-items: center;
            justify-content: center;
            height: $material-size-input-wrappers-height;
            flex-direction: column;
            transform: translateX(-100%);
            top: - abs($material-size-input-wrappers-height - $directional-button-size) * 0.5;
            left:-10px;
            background-color: white;
            padding:5px;

            .material-size-input-wrapper{
                // position: relative;
                // top:0px;
                // left: -40px;
                width: 75px;
                height:50px;
                .material-size-input{
                    width: 70%;
                    height: 100%;
                    text-align: center;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                }
            }
    
            $material-size-left: -90px;
            .material-width-input-wrapper{
                // transform: translate(-50%, -50%);
                // top:-30px;
                left: $material-size-left;
            }
    
            .material-height-input-wrapper{
                // transform: translate(-50%, 50%);
                // top:30px;
                left: $material-size-left;
                .size-unit{
                    font-size: 14px;
                }
            }
        }

    }