.main-wrapper{
    position: absolute;
    height: 0;
    width: 0;
    $directional-button-size: 80px;

    .material-size-input-wrappers{
        $material-size-input-wrappers-height: 330px;//120px;
        $material-size-input-wrappers-width: 250px;//75px;

        position: relative;
        display: flex;
        flex-shrink: 1;
        align-items: center;
        justify-content: space-around;
        height: $material-size-input-wrappers-height;
        flex-direction: column;
        transform: translateX(-100%);
        top: - abs($material-size-input-wrappers-height - $directional-button-size) * 0.5;
        left:-10px;
        background-color: rgba(255, 255, 255, 0.9);
        padding:5px;
        width: $material-size-input-wrappers-width;
        border: 1px solid rgb(49, 49, 49);
        border-radius: 5px;
        box-shadow: 0 0 5px 2.5px rgb(95, 95, 95);

        .material-size-input-wrapper{
            // position: relative;
            // top:0px;
            // left: -40px;
            height:100px;
            border: 1px solid rgb(100, 100, 100);
            border-radius: 5px 5px 5px 5px;
            padding: 10px 5px 10px 5px;
            .material-size-number-input{
                width: 70%;
                height: 50%;
                text-align: center;
                border-top: none;
                border-left: none;
                border-right: none;
                background-color: rgba(0, 0, 0, 0);
            }
            .material-size-range-inputs-wrapper{
                .material-size-range-input{
                    width: 50%;

                }
            }
        }

        $material-size-left: -90px;
        .material-width-input-wrapper{
            // transform: translate(-50%, -50%);
            // top:-30px;
            left: $material-size-left;

            .material-size-range-input-rtl{
                direction: rtl;
            }
        }
        .material-height-input-wrapper{
            // transform: translate(-50%, 50%);
            // top:30px;
            left: $material-size-left;
            .material-size-range-input-rtl{
                direction: rtl;
            }
            .size-unit{
                font-size: 14px;
            }
        }

        .push-buttons-wrapper{
            $button-height: 40px;
            // border: 1px solid red;
            height:$button-height * 3;
            width: 100%;

            .push-button{
                width: 50%;
                height: $button-height;
                // font-size: 1em;
                color: rgb(71, 71, 71);
                font-weight: 900;
            }
        }
    }
}