$text-black: rgb(45, 45, 45);
$text-dark-black: rgb(34, 34, 34);

$ing-yellow: rgb(254, 199, 61);
$lab-red: rgb(161, 29, 39);
$res-blue-body: rgb(20, 52, 92);
$sol-green-body: rgb(135, 201, 122);

$dev: false;